<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h2>Creat new user</h2>
		<form [formGroup]="userForm" (ngSubmit)="onCreatUser()">
			<div class="from-group">
				<label for="email">Email</label>
				<input type="text" id="email" class="form-control" formControlName="email">
			</div>
			<div class="from-group">
				<label for="password">Password</label>
				<input type="password" id="password" class="form-control" formControlName="password">
			</div>
			<button type="submit" class="btn btn-primary">Send</button>
		</form>
		<p class="text-danger">{{errorMessage}}</p>
	</div>
</div>
