<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h2>Login</h2>
		<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
			<div class="form-group">
				<label form="email">Email</label>
				<input type="text" id="email" class="form-control" formControlName="email">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" formControlName="password" id="password">
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
		<p class="text-danger">{{errorMessage}}</p>
	</div>
</div>